@font-face {
    font-family: Bellota;
    src: url(Bellota-Regular.ttf);
}

body {
    background-color: #a99bf3;
}

h1 {
    padding-top: 4vh;
    text-align: center;
    font-family: Bellota;
    color: #fff;
}

ul {
    background-color: transparent;
    list-style-type: none;
    margin: auto;
    width: 100%;
    padding: 0px;
    text-align: center;
}

li {
    display: inline;
}

a {
    background-color: #fff;
    color: #000;
    padding: 8px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 32px;
}